* {
    margin: 0;
    padding: 0;
}
html,body {
    width: 100%;
    height: 100%;
}
html {
    font-size: 12px;
}
nav {
    float: left;
    height: 3.8333rem;
}
header{
	width: 100%;
}
.navbar {
	width: 100%;
    background: rgb(22,159,133);
    border: none;
    position: fixed;
    top:0;
    left: 0;
}
.container {
    position: relative;
}
.logo {
    float: left;
    width: 9%;
    height: 2.08rem;
    background: url(../images/logo.png) no-repeat;
    background-size: 119% 170%;
    background-position: -4px -8px;
    margin: 0.625rem 0.4375rem 0rem 0.75rem;
}
.China {
    float: left;
    color:white;
    line-height: 3.8333rem;
    font-size: 1.08rem;
    font-weight: 700;
}
.search-warp {
    float: right;
    width: 54%;
    margin-right: 2rem;
    margin-top: 0.5rem;
    position: relative;
}
.seek-case {
    float: right;
    width: 100%;
    height: 2.833rem;
    border: none;
    background: rgba(250,250,250,0.6);
    border-radius: 15px;
    color: white;
    padding-left: 15%;
    font-size: 12px;
    outline: none;
}
.glyphicon-calendar {
    float: right;
    margin-right: 0.41rem;
    margin-top: 0.8rem;
    width: 6%;
    height: 2.08rem;
    font-size: 2.08rem;
    color: white;
}
.glyphicon-list{
    float: right;
    margin-right: 0.833rem;
    margin-top: 0.7rem;
    width: 6%;
    height: 1.833rem;
    color: white;
    font-size: 2.2rem;
    background: none;
    border: none;
    outline: none;
}
.search-icon {
    position: absolute;
    left: 5%;
    top: 23%;
    font-size: 1.5rem;
    color: #999999;
}
.carousel {
    width: 100%;
    height: 16.08rem;
    /*overflow: hidden ; */
}
.carousel-inner {
    width: 100%;
    height: 16.08rem;
    overflow: hidden;
}
.item {
    width: 100%;
   height: 16.08rem;
   overflow: hidden;
}
.carousel-inner>.item>img {
    height: 100%;
}
.item img {
    width: 100%;
}
.advertisement {
    width: 100%;
    height: 22.33rem;
}
.adv-background {
    width: 100%;
    height: 19.333rem;
    background: url(../images/guanggao.png) no-repeat;
    background-size: 100% 100%;
}
.adv-bottom {
    width: 100%;
    height: 2.91rem;
}
.adv-bott-hot {
    width: 90%;
    height: 80%;
    margin: 0 auto;
    border: 1px solid #999;
    border-radius: 15px;
}
.adv-bott-hot a {
    float: left;
    width: 7.5rem;
    height: 100%;
    margin-left: 1.08rem;
    background:url(../images/lobo2.jpg) no-repeat;
    background-size: 100% 106%;
}
.adv-bott-hot span {
    line-height: 2.5rem;
}
.classify {
    position: absolute;
    overflow: hidden;
    top: 3.8333rem;
    left: 0px;
    width: 100%;
    background: rgba(22,159,133,1);
    border-top: 1px solid #fff;
    display: none;
    /*transition: 1s;*/
}
.classify li {
    list-style: none;
    border-bottom: 2px solid rgb(250,250,250);
    text-align: center;
    margin-left: 1.6rem;
    margin-right: 1rem;
}
.classify li>a {
    text-decoration: none;
    color: white;
}
.classify li:hover {
    background: white;
}
.classify li:hover a{
    color:rgb(22,159,133);
}
.carousel-indicators {
    bottom: -6px;
}
/*内容*/
.shop-content {
	width: 100%;
	margin: 0px;
}
.shop-content-box {
    width: 100%;
}
.shop-content-box h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
    color: #f70f0f;
    background: -webkit-linear-gradient(left,#00f 44%,#f00 64%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.shop-box-img {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    background: url(../images/jinglingtu.png) no-repeat;
    background-size: 450% 473%; 
    background-position: 0px -22px;
    vertical-align: middle;
}
.shop-content li{
	list-style: none;
    height: 22rem;
    border: 1px solid #ccc;
    margin-bottom: -1px;
    position: relative;
    padding: 0px;
    text-align: center;
}
.shop-content li>img {
	width: 100%;
	height: 39%;
	flex: left;
}
.shop-content li>em {
	color:red;
	
	font-style: normal;
}
.shop-content li>span {
	display: block;
	widows: 100%;
	height: 40%;
	overflow: hidden;
	box-sizing: border-box;
	padding: 1rem 0.5rem;
}
.footer {
	width: 100%;
	height: 13rem;
	background: url(../images/footer.png) no-repeat;
	background-size: 100% 100%;
}
