* {
    margin: 0;
    padding: 0;
}
html,body {
    width: 100%;
    height: 100%;
}
html {
    font-size: 12px;
}
nav {
    float: left;
    height: 3.8333rem;
}
.navbar {
    background: rgba(22,159,133,0.9);
}
.logo {
    float: left;
    width: 2.75rem;
    height: 2.08rem;
    background: url(../images/logo.png) no-repeat;
    background-size: 119% 170%;
    background-position: -4px -8px;
    margin: 0.625rem 0.4375rem 0rem 0.75rem;
}
.China {
    float: left;
    color:white;
    line-height: 3.8333rem;
    font-size: 1.08rem;
    font-weight: 700;
}
.seek-case {
    float: left;
    margin-left: 0.75rem;
    margin-top: 0.5rem;
    width: 12rem;
    height: 2.833rem;
    border: none;
    background: rgba(250,250,250,0.6);
    border-radius: 15px;
    padding-left: 15%;
    font-size: 12px;
    outline: none;
}
.glyphicon-calendar {
    float: right;
    margin-right: 0.41rem;
    margin-top: 0.8rem;
    width: 2.1rem;
    height: 2.08rem;
    font-size: 2.08rem;
    color: white;
}
.glyphicon-list{
    float: left;
    margin-left: 0.833rem;
    margin-top: 0.7rem;
    width: 2rem;
    height: 1.833rem;
    color: white;
    font-size: 2.2rem;
    background: none;
    border: none;
    outline: none;
}
.search-warp {
    position: relative;
}
.search-icon {
    position: absolute;
    left: 8%;
    top: 35%;
    font-size: 1.5rem;
    color: #999999;
}
.carousel {
    width: 100%;
    height: 16.08rem;
    /*overflow: hidden ; */
}
.carousel-inner {
    width: 100%;
    height: 16.08rem;
    overflow: hidden;
}
.item {
    width: 100%;
   height: 16.08rem;
   overflow: hidden;
}
.carousel-inner>.item>img {
    height: 100%;
}
.item img {
    width: 100%;
}
