rem(px)
  return px/14rem
html
    font-size 14px
.navbar-inverse
  background #169f85
  border-color white
  color white
.navbar-inverse .navbar-toggle
  border-color white

.navbar-inverse .navbar-toggle:hover
  background none

.navbar-inverse .navbar-brand
  color white

.navbar-inverse .navbar-nav > li > a
  color white
  float left
  padding 5% 8%
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form
  border-color white
section
  width 100%
  height 100%
.list-content
  width 100%
  height 100%
  background  red


